/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids/
/tmp/pids/*
!/tmp/pids/.keep
!/tmp/cache/
/tmp/cache/*
!/tmp/cache/.keep
!/tmp/storage/
/tmp/storage/*
!/tmp/storage/.keep

/storage/*
!/storage/.keep

/public/assets
/public/packs
/public/packs-test

config/master.key

/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/app/assets/builds/*
!/app/assets/builds/.keep

.byebug_history
.env
.env.*
!.env.example

*.rbc
